REACT_APP_API_BASE_URL=http://localhost:4000
REACT_APP_AUTH_URL=https://id24.osd.co.th
REACT_APP_ID24_CLIENT_ID=6b0fbcca-a1f0-43dc-8606-91c0d7eb8992
REACT_APP_CLIENT_ID=6b0fbcca-a1f0-43dc-8606-91c0d7eb8992
REACT_APP_VERSION=1.0.0