.custom-steps .ant-steps-item-title:after {
  background-color: #1E6541 !important;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
    background-color: #1E6541;
    border-color: #1E6541;
}
