// Overview overdue credit card
.highlightColumn {
    background-color: #E5E5E5 !important;
}

.highlightCell > td:first-child {
    background-color: #E5E5E5 !important;
    font-weight: bold;
}

.highlightCell > td {
    background-color: #FBFBFB !important;
    border-right: 1px solid #f0f0f0;
}